*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.par{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
}

.heading{
    margin: 80px ;
}

.child{
    border: 1px solid black;
    width: 400px;
    height: full;
    margin-top: 0px;
    background-color: red;
    /* margin: auto; */
}

.reset{
    border: none;
    font-style: italic;
    background: none;
    font-size: large;
}

.child h1{
    margin: 40px 0px 40px 0px;
}

.box{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    background-color: green;
    border: none;
    margin: 5px;
    width: 150px;
    height: 50px;
    font-size: large;
}

button:hover{
    cursor: pointer;
}

.plus{
    width: 50px;
    margin-right: 0px;
}

.inp{
    height: 50px;
    width: 255px;
    background-color: green;
    text-align: center;
    font-size: large;
    border: none;
}