.parent{
    border: 0px solid black;
    /* height: 100vh; */
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: -1px -1px 15px -3px green;
    box-sizing: border-box;
}

h1{
    color: green;
    margin-bottom: 20px;
}

.nameError{
    color: red;
    font-size: 15px;
    margin: 3px;
}

.form-container{
    /* background-color: red; */
    width: 100%;
    box-sizing: border-box;
    /* margin-left: 40px;
    margin-right: 40px; */
}

.inputs{
    /* background-color: blue; */
    margin-top: 10px;
    font-size: 20px;
}

.inputs input{
    /* background-color: blue; */
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 2px;
    padding: 5px;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
}

.container input{
    margin-right: 15px ;
    height: 15px;
}

input[type="radio"],input[type="checkbox"]:checked {
  accent-color: green;
}

select{
    width: 100%;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 0px;
    /* padding: 5px; */
    border: 1px solid black;
    text-align: center;

}

textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border: 1px solid;
    font-size: 15px;
    text-align: start;
    padding: 5px;
}

button{
    /* background-color: green; */
    border-radius: 10px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 20px;
}

