.parent{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}
.box{
    border: 2px solid red;
    background-color: gray;
}

.box img{
    width: 200px;
}